@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

/* Styles for the background stars */
.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  animation: animStar 50s linear infinite;
}

.stars {
  width: 2px;
  height: 2px;
  /* Insert multiple box shadow values here */
  box-shadow: /* Replace $shadows-medium with multiple box-shadow values */;
  animation: animStar 100s linear infinite;
}

.stars {
  width: 3px;
  height: 3px;
  /* Insert multiple box shadow values here */
  box-shadow: /* Replace $shadows-big with multiple box-shadow values */;
  animation: animStar 150s linear infinite;
}

/* Styles for the pseudo-elements */
.stars:after,
.stars2:after,
.stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
}

.stars2:after {
  width: 2px;
  height: 2px;
}

.stars3:after {
  width: 3px;
  height: 3px;
}

/* Styles for the title */
.title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}


/* Keyframes for the star animation */
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
